# Ignore Gradle project-specific cache directory
.gradle
.cache-main
.cache-tests
.classpath
.project
target.json/
.settings/
.gradle/
gradlew
gradlew.bat
build/
test-output/
bin/
src/test/

# Ignore Gradle build output directory
build
